# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\level_3_1\Operating_System\assignments\assignment_1\Assignment_1 20180104&20180063&20180080&20180256\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
